.box
{position: relative; width: 500px; height: 500px; transform-style: preserve-3d; transform: perspective(1000px);}
.card
{transform-style: preserve-3d; transition: 1s;}
.box:hover .card
{transform: rotateY(180deg); transition: 1s;}
.font,.back
{position: absolute; width: 500px; height: 500px; backface-visibility: hidden; -webkit-backface-visibility: hidden; transform-style: preserve-3d;}
.font
{background: linear-gradient(skyblue,black);}
.back
{background: linear-gradient(orange,skyblue); transform: rotateY(180deg);}
h1
{color: white; font-size: 50px; text-align: center; transform: translateZ(50px);}